In [1]:
import pandas as pd

In [8]:
# Customer DataFrame
df_customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'customer_name': ['Alice', 'Bob', 'Charlie', 'David','Archi'],
    'customer_age': [25, 30, 35, 40,22]
})

In [9]:
# Order DataFrame
df_orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 1, 3, 4],
    'order_date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-01', '2024-01-04'],
    'order_amount': [250, 300, 150, 400, 500]
})

### Merging DataFrames

In a real-world scenario, you often need to combine customer information with their respective orders. We will merge the two DataFrames on customer_id.

In [10]:
# Merge customers and orders on 'customer_id'
df_merged = pd.merge(df_customers, df_orders, on='customer_id', how='inner')
print(df_merged)

   customer_id customer_name  customer_age  order_id  order_date  order_amount
0            1         Alice            25       101  2024-01-01           250
1            1         Alice            25       103  2024-01-03           150
2            2           Bob            30       102  2024-01-02           300
3            3       Charlie            35       104  2024-01-01           400
4            4         David            40       105  2024-01-04           500

We performed an inner join on customer_id, meaning only the customers who have made an order are included in the merged result. Alice has two orders, so her data appears twice.

Merging Types:
inner: Keeps only matching rows from both DataFrames.
left: Keeps all rows from df_customers and only matching rows from df_orders.
right: Keeps all rows from df_orders and only matching rows from df_customers.
outer: Keeps all rows from both DataFrames, filling in NaN where there's no match.

In [11]:
# Outer merge to include all customers (even if they have no orders)
df_merged_outer = pd.merge(df_customers, df_orders, on='customer_id', how='outer')
print(df_merged_outer)

   customer_id customer_name  customer_age  order_id  order_date  order_amount
0            1         Alice            25     101.0  2024-01-01         250.0
1            1         Alice            25     103.0  2024-01-03         150.0
2            2           Bob            30     102.0  2024-01-02         300.0
3            3       Charlie            35     104.0  2024-01-01         400.0
4            4         David            40     105.0  2024-01-04         500.0
5            5         Archi            22       NaN         NaN           NaN

### Concatenating DataFrames

In some cases, you may want to concatenate two DataFrames. For example, you may want to stack new customer data or order data to the existing ones.

In [12]:
# Creating another DataFrame of new customers
df_new_customers = pd.DataFrame({
    'customer_id': [6, 7],
    'customer_name': ['Eve', 'Frank'],
    'customer_age': [45, 50]
})

In [13]:
# Concatenate vertically (add rows)
df_concat_vertical = pd.concat([df_customers, df_new_customers], axis=0, ignore_index=True)
print(df_concat_vertical)

   customer_id customer_name  customer_age
0            1         Alice            25
1            2           Bob            30
2            3       Charlie            35
3            4         David            40
4            5         Archi            22
5            6           Eve            45
6            7         Frank            50

In [14]:
# Concatenating horizontally (adding columns)
df_concat_horizontal = pd.concat([df_customers, df_orders], axis=1)
print(df_concat_horizontal)

   customer_id customer_name  customer_age  order_id  customer_id  order_date  \
0            1         Alice            25       101            1  2024-01-01
1            2           Bob            30       102            2  2024-01-02
2            3       Charlie            35       103            1  2024-01-03
3            4         David            40       104            3  2024-01-01
4            5         Archi            22       105            4  2024-01-04

   order_amount
0           250
1           300
2           150
3           400
4           500

### Pivoting Data

In real-world analysis, you might want to restructure the data. For example, you might want to create a table that shows total sales for each customer across different dates.

In [15]:
# Pivoting: Reshape data so dates are columns and customer names are rows
df_pivot = df_orders.pivot(index='customer_id', columns='order_date', values='order_amount')
print(df_pivot)

order_date   2024-01-01  2024-01-02  2024-01-03  2024-01-04
customer_id
1                 250.0         NaN       150.0         NaN
2                   NaN       300.0         NaN         NaN
3                 400.0         NaN         NaN         NaN
4                   NaN         NaN         NaN       500.0

The pivot() function reshapes the data so that each order date becomes a column, and the corresponding sales (order amounts) are placed under each date.

### Melting Data

In some cases, you might need to convert a wide DataFrame into a long format (also called "unpivoting").

In [16]:
df_melted = df_pivot.reset_index().melt(id_vars='customer_id', var_name='order_date', value_name='order_amount')
print(df_melted)

    customer_id  order_date  order_amount
0             1  2024-01-01         250.0
1             2  2024-01-01           NaN
2             3  2024-01-01         400.0
3             4  2024-01-01           NaN
4             1  2024-01-02           NaN
5             2  2024-01-02         300.0
6             3  2024-01-02           NaN
7             4  2024-01-02           NaN
8             1  2024-01-03         150.0
9             2  2024-01-03           NaN
10            3  2024-01-03           NaN
11            4  2024-01-03           NaN
12            1  2024-01-04           NaN
13            2  2024-01-04           NaN
14            3  2024-01-04           NaN
15            4  2024-01-04         500.0

### Stacking Data

Stacking allows you to compress the DataFrame's columns into a single column, creating a MultiIndex.

In [17]:
df_stacked = df_pivot.stack().reset_index(name='order_amount')
print(df_stacked)

   customer_id  order_date  order_amount
0            1  2024-01-01         250.0
1            1  2024-01-03         150.0
2            2  2024-01-02         300.0
3            3  2024-01-01         400.0
4            4  2024-01-04         500.0