In [1]:
import pandas as pd

In [2]:
# Sample DataFrame with multiple categorical variables
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male'],
    'Age Group': ['Young', 'Young', 'Old', 'Young', 'Old', 'Old', 'Young', 'Old'],
    'Purchased': ['Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

   Gender Age Group Purchased
0    Male     Young       Yes
1  Female     Young        No
2    Male       Old       Yes
3  Female     Young       Yes
4  Female       Old        No

In [5]:
# Create a contingency table for multiple categorical variables
contingency_table = pd.crosstab(index=[df['Gender'], df['Age Group']], columns=df['Purchased'])

In [6]:
contingency_table

Purchased         No  Yes
Gender Age Group
Female Old         1    0
       Young       2    1
Male   Old         0    3
       Young       0    1